@import url(reset.css);

@font-face {
  font-family: "Mont";
  src: url("fonts/Mont-HeavyDEMO.otf");
}
@font-face {
  font-family: "gmarketM";
  src: url("fonts/GmarketSansTTFMedium.ttf");
}
@font-face {
  font-family: "NanumBarunGothic";
  src: url("fonts/NanumBarunGothic.ttf");
}
@font-face {
  font-family: "NanumSquare";
  src: url("fonts/NanumSquareR.otf");
}
@font-face {
  font-family: "NanumSquareB";
  src: url("fonts/NanumSquareB.otf");
}

body {
  font-family: "NanumSquare";
}
.mobile-menu-bar {
  display: none;
}
.menu-bar {
  position: fixed;
  display: inline-block;
  right: -173px;
  top: 230px;
  font-family: "GmarketM";
  z-index: 2;
  transform: rotate(90deg);
  color: white;
  background-color: black;
  padding: 20px;
}
.menu-bar .menu li {
  display: inline-block;
  cursor: pointer;
}
.menu-bar .menu li a:hover {
  color: orangered;
  transition: all 0.2s;
}
.menu-bar .menu li + li {
  padding-left: 20px;
}
.menu-bar .menu li a {
  color: white;
}

.main {
  position: relative;
  background-image: url("content/배경.png");
  background-size: cover;
}
.main .wrapper {
  width: 80%;
  margin: 0 auto;
}
.main > .title {
  font-family: "Mont";
  font-size: 7rem;
  padding-left: 50px;
  position: absolute;
  top: 10px;
}

.main article {
  padding: 30px 0;
  font-size: 1.2rem;
}
.main article.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 200px;
}
.main article.intro img {
  width: 50%;
}
.main article.intro .text .title {
  font-family: "NanumSquareB";
  font-size: 2rem;
  color: rgb(37, 84, 238);
  padding-bottom: 20px;
}
.main article.intro .text {
  width: 45%;
  word-break: break-all;
}

.main article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main article .imgs {
  display: flex;
  flex-direction: column;
}
.main article .imgs img {
  width: 1000px;
}
.main article .text {
  width: 80%;
  line-height: 2rem;
}

.main article .text h1 {
  font-family: "NanumSquareB";
}

.list {
  margin-top: 150px;
}
.list .detail-list {
  display: flex;
  flex-direction: column;
}
.list .detail-list li img {
  width: 100%;
}
.list .detail-list li .text {
  width: 100%;
  line-height: initial;
  padding-bottom: 10px;
}

.top-Btn {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 3%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 15px;
}
.top-Btn img {
  width: 40px;
  transform: rotate(180deg);
}
.top-Btn:after {
  content: "TOP";
  display: block;
  padding-left: 12px;
}

@media all and (max-width: 1024px) {
  .main article.intro {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 200px;
  }
  .main article.intro img {
    width: 90%;
    padding-bottom: 20px;
  }
  .main article.intro .text {
    width: 90%;
  }
}

@media all and (max-width: 767px) {
  .menu-bar {
    display: none;
  }
  .mobile-menu-bar {
    display: initial;
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  .main .title {
    font-size: 3rem;
    padding-left: 10px;
  }
  .main article {
    font-size: 1rem;
  }
  .main article.intro {
    padding-top: 100px;
  }
  .main article.intro .text .title {
    padding-left: 0;
  }
  .list {
    margin-top: 30px;
  }
  .top-Btn img {
    width: 20px;
  }
  .top-Btn:after {
    content: "TOP";
    display: block;
    padding-left: 12px;
  }
}
